apiVersion: 1

templates:
  - orgId: 1
    name: abemon.title
    template: '[{{ .Status | toUpper }}] {{ .CommonLabels.alertname }}'

  - orgId: 1
    name: abemon.email.subject
    template: '[abemon] [{{ .Status | toUpper }}] {{ .CommonLabels.alertname }}'
