apiVersion: 1

templates:
  - orgId: 1
    name: abemon.title
    template: '[{{ .Status | toUpper }}] {{ .CommonLabels.alertname }}'

  - orgId: 1
    name: abemon.message
    template: '{{ if eq .Status "firing" }}FIRING{{ else }}RESOLVED{{ end }} - {{ .CommonLabels.alertname }}'
