apiVersion: 1

datasources:
  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: https://loki-production-f8e1.up.railway.app
    isDefault: true
    editable: true
    jsonData:
      maxLines: 1000
      timeout: 60
