apiVersion: 1

datasources:
  - name: Prometheus
    uid: prometheus
    orgId: 1
    type: prometheus
    access: proxy
    url: http://prometheus.railway.internal:9090
    isDefault: false
    editable: true
    jsonData:
      timeInterval: "15s"
      httpMethod: GET
